body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: rgb(210, 214, 214);
    background: linear-gradient(00deg, rgb(210, 214, 214) 0%, rgba(242, 245, 245, 1) 100%);
}
