@font-face {
  font-family: "Robota";
  src: url("../../assets/fonts/Robota-NonCommercial.otf");
}

.container {
    padding: 20px 40px;
    display: flex;
    margin-bottom: 75px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secondary-title {
  white-space: wrap;
}

.title {
  font-size: 1.2rem;
  width: auto;
  max-width: 7rem;
  display: inline;
  text-transform: uppercase;
  text-align: justify;
  pointer-events: none;
  letter-spacing: 0.1rem;
  font-family: 'Robota', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
